
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>模块管理</h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs p210" id="insert" action="add"><i class="fa fa-plus-circle fa-fv"></i>创新分类</a>
            <a class="btn btn-warning btn-xs p210" id="modify" action="edit"><i class="fa fa-pencil fa-fv"></i>编辑</a>
            <a class="btn btn-danger btn-xs p210" id="delete" action="remove"><i class="fa fa-trash fa-fv"></i>删除</a>
            <a class="reload-link" style="color: #c4c4c4" href="javascript:Admin.Reload()" data-toggle="tooltip" data-placement="left" tittle="刷新">
                <i class="fa fa-repeat fa-lg"></i>
            </a>
        </div>
    </div>

</div>

@using (Ajax.BeginForm("Index", null, new AjaxOptions(){},new {@id = "form1", @class = "form-horizontal", @method = "get"}))
{
    <div class="row">
        <div class="col-sm-9" >
            <label>选择系统：</label>
            <select name="System" class="form-control input-sm input-s-sm inline" onchange="submit()">
                <option value="" @(ViewData["System"]==null || ViewData["System"].ToString()==""?"selected=\"selected\":"")>全部系统</option>
                @{
                    foreach(var item in ViewData["Systemlist"] as dynamic)
                    {
                        <option value="@item.ID" @(ViewData["System"]!=null && ViewData["System"].ToString()!="" && ViewData["System"].ToString()!=item.ID?"selected=\"selected\":"")>@item.NAME</option>

                    }
                }


            </select>
            <div class="col-sm-3">
                <div class="input-group">
                    @Html.TextBox("search",null,new {@class="input-sm form-control", @placeholder="请输入查询关键词"})
                    <span class="input-group-btn>
                        <button type="submit" onclick="submit()" class="btn btn-sm btn-primary">搜索</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic

@{foreach(var item in Model)
{
    <tr>
        <td class ="tn"><input name="checkbox_name" class="icheck_box" type="checkbox" value="@item.ID"></td>
        <td>@item.SYSNAME</td>
        <td style="text-align:left">
            <a href="javascript:EditModule('@item.ID')" listaction="detail" data-toggle="tooltip" data-placement="rigth" title="修改"><i class='@item.ICON'>@Html.Raw(item.MODULENAME)</i></a>
        </td>
        <td>@item.ALIAS</td>
        <td>@item.MODULETYPE</td>
        <td>@item.MODULEPATH</td>
        <td>@item.ISSHOW/@item.SHOWORDER</td>
        <td style="text-align:center">
            <a href="javascript:AddChild('@item.ID','@item.FK_BELONGSYSTEM')" listaction="addchild" class="text-navy" title="添加子模块">[添加子模块]</a>
        </td>
    </tr>


}

}


    <script type="text/javascript">
      $(function(){ValidatePermission(@Html.Raw(ViewData["PermissionList"]))});

    
    </script>
